h1 {
  font-size: 52pt;
  font-weight: lighter;
}

h2 {
  font-family: sans-serif;
  font-weight: normal;;
  color: #f3897e;
  font-size: 20pt;
  font-variant: small-caps;
}

ul {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 17pt;
  color: rgba(58, 46, 46, 0.58);
  font-variant: small-caps;
}

p {
  font-family: cursive;
  font-weight: normal;
  color: #f3897e;
  font-size: 18pt;
}

blockquote p {
  font-family: sans-serif;
  font-weight: normal;;
  color: #f3897e;
  font-size: 16pt;
  font-variant: small-caps;
}

footer {
  font-family: cursive;
  font-weight: bold;
  color: rgba(58, 46, 46, 0.58);
}

img {
  height: 390px;
  width: 390px;
  float: left;
}
